In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
cd/content/gdrive/My Drive/pandas

/content/gdrive/My Drive/pandas

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv('./data/friend_list.csv')
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [6]:
df['salary']=0
df

    name  age        job  salary
0   John   20    student       0
1  Jenny   30  developer       0
2   Nate   30    teacher       0
3  Julia   40    dentist       0
4  Brian   45    manager       0
5  Chris   25     intern       0

In [7]:
df['name']

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [8]:
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])
df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [9]:
def ex_year(row):
  return row.split('-')[0]

In [10]:
df['year']=df['yyyy-mm-dd'].apply(ex_year)
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [14]:
def ex_age(year,current):
  return current-int(year)

In [15]:
df['age']=df['year'].apply(ex_age,current=2022)
df

   yyyy-mm-dd  year  age
0  2000-06-27  2000   22
1  2002-09-24  2002   20
2  2005-12-20  2005   17

In [16]:
def intro(age,pre,suf):
  return pre+str(age)+suf

In [19]:
df['intro']=df['age'].apply(intro,pre='i am',suf='years old')
df

   yyyy-mm-dd  year  age            intro
0  2000-06-27  2000   22  i am22years old
1  2002-09-24  2002   20  i am20years old
2  2005-12-20  2005   17  i am17years old

In [30]:
df['year']=df.age.map({22:1,20:2,17:3})
df

   yyyy-mm-dd  year  age            intro
0  2000-06-27     1   22  i am22years old
1  2002-09-24     2   20  i am20years old
2  2005-12-20     3   17  i am17years old