In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
cd/content/gdrive/My Drive/pandas

/content/gdrive/My Drive/pandas

In [6]:
import pandas as pd

In [8]:
df=pd.read_csv('./data/friend_list.csv')
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [10]:
df.head(2)

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [12]:
df.tail(2)

    name  age      job
4  Brian   45  manager
5  Chris   25   intern

In [13]:
# 구분이 콤마가 아닌 탭으로 되어있는 파일
df=pd.read_csv('./data/friend_list_tab.txt',delimiter='\t')
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [15]:
#파일에 헤더가 없어서 열마다 타이틀이 없는 경우
df = pd.read_csv('data/friend_list_no_head.csv', header = None)
df

       0   1          2
0   John  20    student
1  Jenny  30  developer
2   Nate  30    teacher
3  Julia  40    dentist
4  Brian  45    manager
5  Chris  25     intern

In [19]:
df.columns = ['name', 'age', 'job']

In [20]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern